.bottle__section {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
}

.button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #eab021;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 20px;
}
.button:hover {
    background-color: #f1c761;
}
