.details__container {
    padding: 10vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.details__title {
    text-transform: uppercase;
}
